.list-card-container {
  height: auto;
  width: auto;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
}
.delete-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.time-card {
  color: #64748b;
  font-size: 18px;

  font-weight: bold;
}
.history-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 6%;
}
.logo-img {
  height: 40px;
  width: auto;
  padding: 2px;
  padding-right: 10px;
}
.title-card {
  color: #475569;
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}
.url-card {
  color: #64748b;
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}
.btn-card {
  display: flex;
  justify-content: flex-end;
}
.btn {
  background-color: #ffff;
  border: none;
  outline: none;
  border-radius: 10px;
}
